 <!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聊天列表</title>
<!-- 	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
 -->		
   <link rel="stylesheet" href="../css/bootstrap.min.css">
    <meta name="keywords" content="Scott Jeremy" />
    <style>
       a:hover{
        cursor:pointer;
       text-decoration: none;
       }
    	.header{
    		background-color:#f2f2f2;
    		width:100%;
    		margin-bottom: 20px;
    	}
    	.header ul{
    		padding:0 150px;
    	    height:100px;
    	}
    	.header ul li{
    		line-height: 100px;
             }   
         .middle-body{
           padding:0 80px;
         } 

         /*头像样式*/
       .headPortrait a{
           text-decoration: none;
           background-color: #f2f2f2;
           color:#000;
       }
       .headPortrait a:link:visited{
           text-decoration: none;
           outline: #f2f2f2 solid 1px;
       }    
       .bor{
        border:2px solid #000; 
        height:100px;
       }  
       .friendItem{
        border-radius: 3px;
       }
    </style>
</head>

<body>
<div class='col-md-4 bor'>
     <h3>好友列表</h3>
     <div id="friendList">
        <p class="friendItem">
          <img src="img/public/head-default-Portrait.jpeg"  height='40px' width='40px' class="img-circle bor"  style="display: inline-block;" />
          <div style="display: inline-block;" class="bor">
           <p>username</p>
           <p>部分说话内容</p> 
          </div>
        </p>
     </div>
</div>
<div class="col-md-2 "></div>
<div class="col-md-6 bor">
     <h3>在线列表</h3>
     <div id ="onlineList"></div>
</div>
</body>
 
<!-- <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js""></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script src="../js/jquery2.1.4.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/fileuploadurl.js"></script>
<script> 
const friendList = $("#friendList");
const onlineList = $("#onlineList");

// 文档加载调用获取好友列表,
$(document).ready(function(){  
    getFriendList();
}); 
 
// socketio监听所有连接上线用户


// 监听好友上线列表


//点击好友聊天，新开聊天页面，进行聊天



 

  //获取好友列表方法ajax刷新好友列表
  function getFriendLsit(){
  $.ajax({
      type: "GET",
      url: "/chat/getFriendList",
      dataType: "json", 
      headers: {
        'Authorization':'Bearer '+ localStorage.getItem('token')
      },
      success: function(data){
      //接受返回的数据，前端判断采取的动作
        
      }
    });
  }  
  

  //添加好友
  function addFriend(){
  const data = {};
  data.friendId = friendId;
  data.image = image;   
  data.username = username;
  $.ajax({
      type: "POST",
      url: "/chat/addFriend",
      dataType: "json", 
      data: data,
      headers: {
        'Authorization':'Bearer '+ localStorage.getItem('token')
      },
      success: function(data){
      //接受返回的数据，前端判断采取的动作
        
      }
    });
  }  
  

</script>
</html> 

