<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>错误页面</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta name="keywords" content="Scott Jeremy" />
</head>

<body>
     <h2>没错，少年啊，这就是传说的错误页面。</h2>
        <img  src="img/public/head-default-Portrait.jpeg"  width="280" height="280" alt="你的头像思密达" class="img-circle"    />
<!-- Mainly scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
 

</script>

</body>

</html>